[submodule "crud-master"]
	path = crud-master
	url = https://github.com/j1mmy7z7/crud-master.git
[submodule "orchestrator"]
	path = orchestrator
	url = https://github.com/j1mmy7z7/orcherstrator.git
[submodule "play-with-containers"]
	path = play-with-containers
	url = https://github.com/j1mmy7z7/play-with-containers.git
[submodule "cloud-design"]
	path = cloud-design
	url = https://github.com/j1mmy7z7/cloud-design.git
